[telegram]
api_id = 10000
api_hash = "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
account = "+1234567890"
# device_model = "PC 64bit"
# system_version = "6.8.1"
# app_version = "telethon 1.34.0"
session_db = "mybot"
index_groups = [
  "@group1",
  "@group2",
  "1000000000",
]
# ipv6 = false
# socks5 proxy
# proxy = ["127.0.0.1", "1080"]
# mark_as_read = true
# ocr_ignore_groups = [
#   "@group1",
#   "1000000000",
# ]
# auth_enable_groups = [
#   "1000000000",
# ]
# auth_expire = 3600 # 1 hour

[database]
url = "postgresql:///luoxu"
# use an OCR service for images; service is provided by the backend of https://github.com/lilydjwg/paddleocr-web
# ocr_url = "http://localhost:12345/api"
# use a UNIX domain socket to connect
# ocr_socket = "/path/to/socket/file"

[web]
listen_host = "localhost"
listen_port = 9008
prefix = "/luoxu"
cache_dir = "cache"
default_avatar = "nobody.jpg"
ghost_avatar = "ghost.jpg"
origins = [
  "http://localhost",
]

# [plugin.auth]
# enabled = true
# web_url = "http://localhost"
# vim: se ft=toml:
